@{
    ViewData["Title"] = "Home Page";
    ViewData["isim"] = "Alican Taner";
    ViewBag.isim = "Halil Kirişci";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <h1 class="display-5">This website is designed by @ViewData["isim"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
