@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    @for (int i = 1; i < 11; i++)
    {
        <ul class="list-group mb-3">
            <li class="list-group-item disabled">@string.Format("ViewData[{0}]",i.ToString())</li>
        @foreach (var view in (List<int>)ViewData["liste"+i.ToString()])
        {
                <li class="list-group-item">@view</li>
            }
        </ul>
    }
</div>